<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>	
		<add name="conexionSQL" connectionString="Data Source = SERVIDOR\SQLEXPRESS2019; Initial Catalog = Amssf; Persist Security Info = True; User ID = grupodesa; Password = 0;"/>
		<add name="coneMYSQL" connectionString="Data Source = 192.168.100.8;Database=plex;Port=3307;User ID=mfsoporte; password=Mu1u47$2021;"/>
		<add name="fechatxt" connectionString="\\SERVIDOR\GrupoDesa\Alquimia_Prueba\Vgac_mutual\leerfecha.txt"/>
	</connectionStrings>
</configuration>